.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: content;
    justify-content: space-between;
    row-gap: 30px;
    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    padding-top: 10px;
    z-index: 100;

    top: 0;
    right: 0;
    left: 0;
    height: 60px;
}

.left-section {
    display: flex;
    max-width: 250px;
    justify-content: center;
    margin-left: 25px;

    cursor: pointer;
}

.logo {
    height: 25px;
    filter: invert();
}

.logo:active {
    filter: invert(75%) sepia(73%) saturate(1117%) hue-rotate(11deg) brightness(91%) contrast(111%);
}

.right-section {
    display: flex;
    content: flex;
    align-items: center;
    white-space: nowrap;
    
    max-width: 500px;
    min-width: 300px;
    justify-content: center;
    gap: 25px;
    margin-right: 25px;
    margin-left: 40px;

    font-weight: 500;
    color: white;
    cursor: pointer;
}

.p1:hover,
.p2:hover {
    color: rgb(200, 200, 0);
}


.signup {
    display: flex;
    content: center;
    letter-spacing: 0.8px;
    
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: white;
    color: white;

    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;

    transition: background-color 0.2s;
    transition: box-shadow 0.15s;
}

.signup:hover {
    background-color: white;
    color: rgb(0, 0, 100);
}

.signup:active {
    box-shadow: 2px 2px 2px rgb(200, 200, 0);
    color: rgb(200, 200, 0);
}