*{
    font-family: Poppins, Arial;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 80px;
    background-image: 
    linear-gradient(180deg, rgb(2, 2, 124),rgb(57, 57, 243));

    height: 682px;
}