* {
    margin: 0;
    font-family: Inter, Arial, Sans-Serif;
}

body {
    height: 832px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: rgb(240, 240, 240);
}